
// -----------------------------------------------------------[ GLOBAL ]
* {
	box-sizing:border-box;
}

html, body {
	height:100%;
	margin:0;
	padding:0;
	font-family: 'Marcellus', serif;
	font-size:16px;
}

$red: #963535;
$green: #185400;

.targeted {
	outline:2px solid $red;
}

// -----------------------------------------------------------[ LINKS / BUTTONS ]

a {
	text-decoration:none;
	color:$red;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

.btn {
	vertical-align: top;
	cursor:pointer;
	border:none;
	background-color:$red;
	color:white;
	font-size:1rem;
	padding:0.5rem 1rem;
	margin: 0 0.75rem 0.25rem 0;
	border-bottom:4px solid darken($red,5%);

	&:hover, &:active {
		position:relative;
		border-top:1px solid white;
		background-color: darken($red,5%);
		border-bottom:3px solid darken($red,10%);
		text-decoration:none;
	}

	&[disabled] {
		background-color:#777;
		border-bottom:4px solid #666;
		color: #666;

		&:hover, &:active {
			border-top:none;
			background-color:#777;
			border-bottom:4px solid #666;
		}
	}
}

.btn--block {
	display:block;
}

label {
	display:block;
	text-shadow:0 0 2px 2px white;
}

input, textarea, select, button, .btn {
	font-family: 'Marcellus', serif;
	&:focus {
		outline: none;
	}
}

input[type="text"],textarea,pre {
	display:block;
	width:100%;
	background-color:transparentize(#dadada,0.1);
	font-size:1rem;
	font-family: 'Marcellus', serif;
	padding:0.5rem;
	border:none;

	&:hover, &:focus {
		outline:none;
	}
}

pre {
	tab-size: 2rem;
	display: inline-block;
	width: auto;
	padding-right: 2.5rem;
}

.select-container {
  display:inline-block;
  position:relative;
  cursor:pointer;
  background-color:transparentize(#dadada,0.1);

  &:hover {
  	.icon {
  		background-color: darken($red,5%);
  	}
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    background-color:transparent;
    width:100%;      
    color:black !important; //!important is necessary for firefox
    border-radius:0;
    padding:0.5rem 2.5rem 0.5rem 0.5rem;
    border:none;
    cursor:pointer;
    word-wrap: normal;
    font-size:1rem;
  }

  .icon {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    background-color: $red;
    padding-top: 0.5rem;
    text-align: center;
    pointer-events:none;
  }
}


/**
 * Browser hacks for select containers
 */
x:-o-prefocus, .select-container::after {
  display:none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .select-container select::-ms-expand {
    display: none;
  }
  .select-container select:focus::-ms-value {
    background: transparent;
    color: #FFF;
  }
}

@-moz-document url-prefix() { 
  .select-container {
    overflow: hidden;
  }
  .select-container select {
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + em);
  }
}

.select-container select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.alert {
	margin:0;
}

.alert--error {
	color:$red;
}

.alert--success {
	color:$green;
}

// -----------------------------------------------------------[ AREAS ]
.area {
	position:relative;
	display: flex;
  justify-content: flex-start;
	border-radius:8px;
	background-color:transparentize($red,0.9);
}

.area--battlefield {
	background-color:transparentize($green,0.9);
}

.area__slot {
	margin-left:0.25rem;
	&:first-of-type { margin-left:0; }
	height:150px;
	width:100px;
	background-color:transparentize(black,0.92);
	border-radius:8px;
}

// -----------------------------------------------------------[ INFO OVERLAYS ]
.stack__counter, .area__title, .board__title {
	z-index:9;
	position:absolute;
	top:0;
	left:0;
	background-color:transparentize(black,0.2);
	color:white;
	padding:0.5rem;
	border-radius:4px;
}

.area__title {
	top: -0.375rem;
  left: -0.375rem;
}

.board__title {
	left:auto;
	right:0.5rem;
	top:0.5rem;
}

// -----------------------------------------------------------[ LAYOUT ]
.container {
	display:flex;
	height: calc(100vh - 2rem);
}

.boards {
	flex-grow:1;
}

.sidebar {
	width:200px;
	background-color: black;
	display:flex;
	flex-direction: column;
}

.actions {
	margin:auto 0;
	text-align: center;
	flex-grow:1;
	padding:1rem;
	color:white;
	border-top:1px solid white;
	border-bottom:1px solid white;

	h2 {
		margin:0.5rem;

		&:first-of-type {
			margin-top:0;
		}
	}

	hr {
		margin:1rem 0;
		border:none;
		background-color:white;
		height:1px;
	}

	.btn {
		width:100%;
		display:block;
    font-size: 0.825rem;
    padding: 0.375rem 1rem;

    &:hover, &:focus {
    	border-top-color:black;
    }
	}
}

// -----------------------------------------------------------[ STATIC PAGE ]
.static-page {
	background-image: url(img/bg-noah.jpg), url(img/bg-aradel.jpg);
	background-position: -8% bottom, 110% bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	background-attachment: fixed, fixed;
	padding-bottom:2.375rem;
	min-height: 100%;

	h1 {
		text-align:center;
		margin-bottom:0;
	}	

	.subheading {
		display:block;
		text-align: center;
    font-size: 1.25rem;
    letter-spacing: 1.25rem;
    padding-left: 1.25rem;
	}
	
	.container {
		display:block;
		max-width:40rem;
		margin:auto;
		height:auto;

		> section {
			margin-bottom:2rem;
		}

		> section > h1, > h1,
		> section > h2, > h2,
		> section > h3, > h3,
		> section > h4, > h4,
		> section > h5, > h5,
		> section > h6, > h6,
		> section > p, > p,
		> section > label, > label {
			text-shadow: 1px 1px 4px #FFF, -1px 1px 4px #FFF, -1px -1px 4px #FFF, 1px -1px 4px #FFF;
		}
	}
}